{% extends "registration/base.html" %}{% load i18n hosts %}

{% block content %}

{% if form.errors %}
<p>{% trans "Your username and password didn't match. Please try again." %}</p>
{% endif %}

<form method="post" action="" class="login">
<table>
<tr>
    <td>{{ form.username.label_tag }}</td>
    <td>{{ form.username }}</td>
</tr>
<tr>
    <td>{{ form.password.label_tag }}</td>
    <td>{{ form.password }}</td>
</tr>
</table>
{% csrf_token %}
<input type="submit" value="{% trans "login" %}" />
<input type="hidden" name="next" value="{{ next }}" />
</form>
<p><a href="{% host_url django.contrib.auth.views.password_reset on dashboard %}">{% trans "Password reset" %}</a></p>
{% endblock %}

