{% extends "registration/base.html" %}{% load i18n hosts %}
{% comment %}
Copyright © 2012 Robert Weidlich. All Rights Reserved.

Redistribution and use in source and binary forms, with or without
modification, are permitted provided that the following conditions are met:

1. Redistributions of source code must retain the above copyright notice, this
list of conditions and the following disclaimer.

2. Redistributions in binary form must reproduce the above copyright notice,
this list of conditions and the following disclaimer in the documentation
and/or other materials provided with the distribution.

3. The name of the author may not be used to endorse or promote products
derived from this software without specific prior written permission.

THIS SOFTWARE IS PROVIDED BY THE LICENSOR "AS IS" AND ANY EXPRESS OR IMPLIED
WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF
MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO
EVENT SHALL THE AUTHOR BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL,
EXEMPLARY, OR CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT
OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS
INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN
CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING
IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY
OF SUCH DAMAGE.
{% endcomment %}

{% block content %}


<form method="post">
  <div class="row">
    <div class="small-12 medium-8 medium-centered columns">
      <h1>Login</h1>
      
      {% if form.errors %}
        <div class="callout alert">
          <!-- <h5>This is a secondary callout</h5> -->
          <p>{% trans "Your username and password didn't match. Please try again." %}</p>
          <a href="{% host_url "django.contrib.auth.views.password_reset" on "dashboard" %}">{% trans "Password reset" %}</a>
        </div>
	  {% endif %}


      <label>{{ form.username.label_tag }}
      {{ form.username }}
        <!-- <input type="text" placeholder=".medium-6.columns"> -->
      </label>
      <label>{{ form.password.label_tag }}
      	{{ form.password }}
        <!-- <input type="text" placeholder=".medium-6.columns"> -->
      </label>
      {% csrf_token %}
      <input type="submit" class="button" value="{% trans "login" %}" />
	  <input type="hidden" name="next" value="{{ next }}" />
    </div>
  </div>
</form>

{% endblock %}

