{% extends 'radioportal/base.html' %}
{% comment %}
Copyright © 2012 Robert Weidlich. All Rights Reserved.

Redistribution and use in source and binary forms, with or without
modification, are permitted provided that the following conditions are met:

1. Redistributions of source code must retain the above copyright notice, this
list of conditions and the following disclaimer.

2. Redistributions in binary form must reproduce the above copyright notice,
this list of conditions and the following disclaimer in the documentation
and/or other materials provided with the distribution.

3. The name of the author may not be used to endorse or promote products
derived from this software without specific prior written permission.

THIS SOFTWARE IS PROVIDED BY THE LICENSOR "AS IS" AND ANY EXPRESS OR IMPLIED
WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF
MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO
EVENT SHALL THE AUTHOR BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL,
EXEMPLARY, OR CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT
OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS
INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN
CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING
IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY
OF SUCH DAMAGE.
{% endcomment %}
{% load i18n hosts %}
{% block messages %}
  	{% if messages %}
	<ul class="messages">
	{% for message in messages %}<li>{{ message }}</li>{% endfor %}
	</ul>
	{% endif %}
{% endblock %}

{% block shorturl_footer %}{% endblock %}
{% block shorturl_head %}{% endblock %}
{% block head %}
	{% load staticfiles %}
	<script type="text/javascript" src="{% url jsi18n %}"></script>
	<script type="text/javascript" src="{% static "admin/js/core.js" %}"></script>
	<link rel="stylesheet" type="text/css" href="{% static "admin/css/forms.css" %}"/>
	<!--<link rel="stylesheet" type="text/css" href="{% static "admin/css/base.css" %}"/>-->
	<!--<link rel="stylesheet" type="text/css" href="{% static "admin/css/global.css" %}"/>-->
	<link rel="stylesheet" type="text/css" href="{% static "admin/css/widgets.css" %}"/>	
	{{ form.media }}
	<script type="text/javascript">
	window.__admin_media_prefix__ = "{% filter escapejs %}{% static "admin/" %}{% endfilter %}";
	</script>
{% endblock %}
{% block content_class %} class="accounts"{% endblock %}
{% block navi_account %}
{% endblock %}
{% block breadcrumb %}<a href="{% host_url dashboard on dashboard %}">{% trans "Overview" %}</a>{% endblock %}
