{% extends 'radioportal/dashboard/base.html' %}{% load i18n hosts %}
{% comment %}
Copyright © 2012 Robert Weidlich. All Rights Reserved.

Redistribution and use in source and binary forms, with or without
modification, are permitted provided that the following conditions are met:

1. Redistributions of source code must retain the above copyright notice, this
list of conditions and the following disclaimer.

2. Redistributions in binary form must reproduce the above copyright notice,
this list of conditions and the following disclaimer in the documentation
and/or other materials provided with the distribution.

3. The name of the author may not be used to endorse or promote products
derived from this software without specific prior written permission.

THIS SOFTWARE IS PROVIDED BY THE LICENSOR "AS IS" AND ANY EXPRESS OR IMPLIED
WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF
MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO
EVENT SHALL THE AUTHOR BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL,
EXEMPLARY, OR CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT
OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS
INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN
CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING
IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY
OF SUCH DAMAGE.
{% endcomment %}
{% block breadcrumb %}
{{ block.super }} » 
	{% if object %}{{ object }}{% else %}{% trans "Create new Channel" %}{% endif %}
{% endblock %}
{% block head_js %}
{{ block.super }}
<script type="text/javascript">                                         
   // we will add our javascript code here
   function toggle(event) {
   		//alert(event.type);
   		//alert(event.data);
   		var newstate = $(event.target).find('option:selected').attr('value');
   		var number = event.data;
   		var all = ['mount','status','user','password','format','bitrate','encoding','fallback'];
   		var hidden = {};
   		hidden['RECODE'] = [ all[2], all[3], all[7] ];
   		hidden['SOURCE'] = [ all[4], all[5] ];
   		for (var i = 0; i < all.length; i++) {
   			$('#id_stream_set-' + number + '-' + all[i]).parent().parent().show()
   		};
   		for (var i = 0; i < hidden[newstate].length; i++) {
   			$('#id_stream_set-' + number + '-' + hidden[newstate][i]).parent().parent().fadeOut('fast');
   		};
   }
   
   $(document).ready(function() {
   		// do stuff when DOM is ready
   		var num = $('#id_stream_set-TOTAL_FORMS').attr('value');
   		for (var i = 0; i < num; i++) {
   			$('#id_stream_set-' + i + '-status').bind('change', i, toggle);
   			$('#id_stream_set-' + i + '-status').change();
   		};
                $('#id_mapping_method').asmSelect({
                        addItemTarget: 'bottom',
                        // animate: true,
                        highlight: true,
                        sortable: true,
                        removeLabel: '{% trans "[x]" %}',
                        highlightAddedLabel: '{% trans "Added" %}: ',
                        highlightRemovedLabel: '{% trans "Removed" %}: ',
                        addLabel: '{% trans "Add another item" %}',
                        hideWhenAdded: true,
                });
   });
 </script>
{% endblock %}
{% block content %}

{% comment %}{% if user.is_superuser %}<h3>Weitere Einstellungen</h3><p><a href="{% host_url admin-auphonic-settings object.id on dashboard %}">{% trans "Einstellungen für Auphonic bearbeiten" %}</a></p>{% endif %}{% endcomment %}

<h2>{% if object %}{% trans "Edit Channel" %}{% else %}{% trans "Create new Channel" %}{% endif %}</h2>

<p><a href="{% host_url admin-channel-cce object.id on dashboard %}">{% trans "Episode ändern" %}</a><br /><br /></p>

<form action="" method="POST">
{% csrf_token %}
<table>
{{ form.forms.0.as_table }}

<tr><td colspan="2"><h3>{% trans "Sourced Streams" %}</h3></td></tr>
{% for f in form.forms.1 %}
<tr><td colspan="2"><h4>{% if f.instance.mount %}{% trans "Stream" %} {{ f.instance.mount }}{% else %}{% trans "New Sourced Stream" %}{% endif %}</h4></td></tr>
{% if f.instance.id %}<tr><td colspan="2"><div style="border: 2px solid black; background-color: #ffffbe; width: 20em; margin: 0.5em auto;"><h5 style="margin: 0.5em;">{% trans "Settings for connecting to this Stream" %}</h5>
<table>
<tr><th style="padding: 0;">Server</th style="padding: 0;"><td style="padding: 0;">master.streams.xenim.de</td style="padding: 0;"></tr>
<tr><th style="padding: 0;">Port</th style="padding: 0;"><td style="padding: 0;">8001</td style="padding: 0;"></tr>
<tr><th style="padding: 0;">User</th style="padding: 0;"><td style="padding: 0;">{{ f.instance.user }}</td style="padding: 0;"></tr>
<tr><th style="padding: 0;">Password</th style="padding: 0;"><td style="padding: 0;">{{ f.instance.password }}</td style="padding: 0;"></tr>
<tr><th style="padding: 0;">Mount</th style="padding: 0;"><td style="padding: 0;">/{{ f.instance.mount }}</td style="padding: 0;"></tr>
<tr><th style="padding: 0;">Public</th style="padding: 0;"><td style="padding: 0;">1</td style="padding: 0;"></tr>
</table>
</div></td></tr>
{% endif %}
{{ f.as_table }}
{% endfor %}

{% if form.forms.2 %}
<tr><td colspan="2"><h3>{% trans "Recoded Streams" %}</h3></td></tr>
{% endif %}
{% for f in form.forms.2 %}
<tr><td colspan="2"><h4>{% if f.instance.mount %}{% trans "Stream" %} {{ f.instance.mount }}{% else %}{% trans "New Recoded Stream" %}{% endif %}</h4></td></tr>
{{ f.as_table }}
{% endfor %}

<tr><td colspan="2">{{ form.forms.1.management_form }}{{ form.forms.2.management_form }}<input type="submit" value="{% trans "Save Channel" %}" /></td></tr>
</table>
</form>
{% endblock %}
