{% extends 'radioportal/dashboard/base.html' %}{% load i18n hosts %}
{% block breadcrumb %}
{{ block.super }} » 
	<a href="{% host_url admin-episode-list show.slug on dashboard %}">{{ show }}</a> »
	{% if episode %}{{ episode.slug }}: {{ episode.title }}{% else %}{% trans "Create new episode" %}{% endif %}
{% endblock %}
{% block content %}
<h2>{% trans "Edit episode" %}</h2>
<form action="" method="POST">
{% csrf_token %}
<table>
{{ form.as_table }}
</table>
<input type="submit" value="{% trans "Apply" %}" />
</form>
<h3>{% trans "Parts of this Episode" %}</h3>
<ul>
{% for part in form.instance.parts.all %}
<li><a href="{% url admin-episodepart-edit part.id %}">{{ part }}</a></li>
{% endfor %}
</ul>
{% endblock %}
