{% extends 'radioportal/dashboard/base.html' %}{% load i18n guardian_tags hosts %}
{% block breadcrumb %}{{ block.super }} » {{ show.name }}{% endblock %}
{% block content %}
<h2>{{ show }}</h2>
<ul>
	<li><a href="{% host_url admin-show-edit show.slugName on dashboard %}">{% trans "Edit show properties" %}</a></li>
	<li><a href="{% host_url admin-show-feed show.slugName on dashboard %}">{% trans "Configure update from podcast feed" %}</a></li>
	<li><a href="{% host_url admin-episode-create show.slugName on dashboard %}">{% trans "Create new episode" %}</a></li>
</ul>
{% if object_list %}
<h3>{% trans "Episodes" %}</h3>
<ul>
{% get_obj_perms request.user for show as "show_perms" %}
{% for o in object_list %}
	<li>
<a href="{% host_url admin-episode-edit o.pk on dashboard %}">{{ o.shortName }}: {{ o.topic }}</a>
{% if "change_episodes" in show_perms %}(<a href="{% host_url admin-episode-delete o.pk on dashboard %}">{% trans "delete" %}</a>){% endif %}
</li>
{% endfor %}
</ul>
{% endif %}
{% endblock %}