{% extends 'radioportal/dashboard/base.html' %}{% load i18n guardian_tags hosts %}
{% comment %}
Copyright © 2012 Robert Weidlich. All Rights Reserved.

Redistribution and use in source and binary forms, with or without
modification, are permitted provided that the following conditions are met:

1. Redistributions of source code must retain the above copyright notice, this
list of conditions and the following disclaimer.

2. Redistributions in binary form must reproduce the above copyright notice,
this list of conditions and the following disclaimer in the documentation
and/or other materials provided with the distribution.

3. The name of the author may not be used to endorse or promote products
derived from this software without specific prior written permission.

THIS SOFTWARE IS PROVIDED BY THE LICENSOR "AS IS" AND ANY EXPRESS OR IMPLIED
WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF
MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO
EVENT SHALL THE AUTHOR BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL,
EXEMPLARY, OR CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT
OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS
INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN
CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING
IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY
OF SUCH DAMAGE.
{% endcomment %}
{% block content %}
<h2>{% trans "Dashboard" %}</h2>
<p>{% blocktrans %}Welcome to the configuration panel of the xenim streaming network. 
Here you can change all settings regarding the appearance of your show and the behavior of the streams.
You might also have a look at the wiki for additional features, documentation and contact informations.{% endblocktrans %}</p>


{% if reviews and perms.radioportal.add_showrequest %}
<h3>{% trans "Pending Request Reviews" %}</h3>
<ul>
{% for r in reviews %}
<li><a href="{% host_url "admin-show-request" r.id on "dashboard" %}">{{ r.name }} {% trans "by" %} {{ r.user }}</a></li>
{% endfor %}
</ul>
{% endif %}

{% if requests %}
<h3>{% trans "Requests for new Shows" %}</h3>
<ul>
{% for r in requests %}
<li>{{ r.name }}, {{ r.create_time }}: {{ r.get_status_display }}</li>
{% endfor %}
</ul>
{% endif %}

{% if shows or perms.radioportal.add_show %}
<h3>{% trans "Shows" %}</h3>
<p class="explanation">
{% blocktrans %}
Shows are the entities that are responsible for representing your streams at the homepage of the xenim streaming network. 
They also contain episodes for time a stream is online.
{% endblocktrans %}
</p>
<ul>
{% for s in shows %}
{% get_obj_perms request.user for s as "show_perms" %}
	<li>
{% if "change_show" in show_perms %}<a href="{% host_url "admin-episode-list" s.slug on "dashboard" %}">{% endif %}
{{ s }}{% if "change_show" in show_perms %}</a>{% endif %}
{% if "delete_show" in show_perms %}(<a href="{% host_url "admin-show-delete" s.slug on "dashboard" %}">{% trans "delete" %}</a>){% endif %}
</li>
{% endfor %}
{% if perms.radioportal.add_show %}
	<li><a href="{% host_url "admin-show-create" on "dashboard" %}">{% trans "Create new Show" %}</a></li>
{% endif %}	
</ul>
{% endif %}

{% if channels or perms.radioportal.add_channel %}
<h3>{% trans "Streams" %}</h3>
<p class="explanation">
{% blocktrans %}
For every show there is usually a channel of streams. Such a channel of streams combines various streams which differ in bitrates or formats. 
This is the place to view or change the credentials for your streams.
{% endblocktrans %}
</p>
<ul>
{% for s in channels %}
{% get_obj_perms request.user for s as "channel_perms" %}
	<li>
		<a href="{% host_url "admin-channel-edit" s.id on "dashboard" %}">{{ s }}</a>
		{% if "delete_channel" in channel_perms %}(<a href="{% host_url "admin-channel-delete" s.id on "dashboard" %}">{% trans "delete" %}</a>){% endif %}
	</li>
{% endfor %}
{% if perms.radioportal.add_channel %}
	<li><a href="{% host_url "admin-channel-create" on "dashboard" %}">{% trans "Create new Channel" %}</a></li>
{% endif %}
</ul>
{% endif %}
<h3>{% trans "Account Settings" %}</h3>
<ul>
    <li><a href="{% host_url "django.contrib.auth.views.password_change" on "dashboard" %}">{% trans "Change Password" %}</a></li>
{% if not reviews or request.user.is_superuser %}
    <li><a href="{% host_url "admin-show-request-create" on "dashboard" %}">{% trans "Request Show" %}</a></li>
{% endif %}
    <li><a href="{% host_url "account_email" on "dashboard" %}">{% trans "Change E-Mail" %}</a></li>
{% if request.user.is_superuser %}
    <li><a href="{% host_url "admin-list-users" on "dashboard" %}">{% trans "List of Users" %}</a></li>
    <li><a href="{% host_url "admin-wizard" on "dashboard" %}">{% trans "Create new User, Show, Channel and Stream" %}</a></li>
{% endif %}
</ul>
{% if perms.radioportal.change_recording %}
<h3>{% trans "Recordings" %}</h3>
<ul>
<li><a href="{% host_url "archive-list" on "dashboard" %}">{% trans "List of Recordings" %}</a></li>
</ul>
{% endif %}
{% endblock %}
