{% extends 'radioportal/dashboard/base.html' %}
{% load i18n guardian_tags hosts %}
{% comment %}
Copyright © 2012 Robert Weidlich. All Rights Reserved.

Redistribution and use in source and binary forms, with or without
modification, are permitted provided that the following conditions are met:

1. Redistributions of source code must retain the above copyright notice, this
list of conditions and the following disclaimer.

2. Redistributions in binary form must reproduce the above copyright notice,
this list of conditions and the following disclaimer in the documentation
and/or other materials provided with the distribution.

3. The name of the author may not be used to endorse or promote products
derived from this software without specific prior written permission.

THIS SOFTWARE IS PROVIDED BY THE LICENSOR "AS IS" AND ANY EXPRESS OR IMPLIED
WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF
MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO
EVENT SHALL THE AUTHOR BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL,
EXEMPLARY, OR CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT
OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS
INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN
CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING
IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY
OF SUCH DAMAGE.
{% endcomment %}



{% block content %}

<div class="row">
	<div class="small-12 columns">
		
		<h1>{% trans "Dashboard" %}</h1>

		<h2>Shows</h2>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque aliquid quidem quae esse magnam autem ipsam atque repellendus, iste cumque ratione perferendis pariatur, amet perspiciatis. Explicabo debitis, quibusdam amet dolores.</p>

		{% for show in shows %}
		{% get_obj_perms request.user for show as "show_perms" %}

		<div class="row">
			<div class="medium-2 columns">
				<img class="thumbnail" src="http://placehold.it/200x200">
			</div>
			<div class="medium-10 columns">
				<h3>{{ show.name }} <small>Subtitle</small></h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem accusantium quasi atque possimus fuga ea illo excepturi repudiandae repellat necessitatibus, aperiam eos dicta amet harum, fugit provident rem, earum. Culpa.</p>
				
				{% if "change_show" in show_perms %}

				<ul class="dropdown menu" data-dropdown-menu>
					{% if "change_episodes" in show_perms %}
						<li><a href="{% host_url "admin-episode-create" show.slug on "dashboard" %}" class="button success"><i class="fa fa-plus" aria-hidden="true"></i> Sendung Planen</a></li>
					{% endif %}
					<li>
					<a href="#" class="button dropdown"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Bearbeiten</a>
						<ul class="menu">
							<li><a href="{% host_url "admin-show-edit" show.slug on "dashboard" %}">Allgemein</a></li>
							<li><a href="{% host_url "admin-show-notification" show.slug on "dashboard" %}">Notifications</a></li>
							<li><a href="{% host_url "admin-show-feed" show.slug on "dashboard" %}">Metadaten aus dem Podcastfeed</a></li>
							<li><a href="{% host_url "admin-show-ical" show.slug on "dashboard" %}">Sendungen mit iCal planen</a></li>
						</ul>
					</li>
					<li><a href="{% host_url "admin-episode-list" show.slug on "dashboard" %}" class="button"><i class="fa fa-list" aria-hidden="true"></i> Alle Episoden</a></li>
					<li><a href="{% host_url "archive-detail" show.slug on "dashboard" %}" class="button"><i class="fa fa-cloud" aria-hidden="true"></i> Aufzeichnungen</a></li>
	 				{% if "delete_show" in show_perms %}
						<li><a href="{% host_url "admin-show-delete" show.slug on "dashboard" %}" class="button alert"><i class="fa fa-trash-o" aria-hidden="true"></i> Löschen</a></li>
					{% endif %}
				</ul>

 				{% endif %}

			</div>
		</div>

		{% endfor %}

		
		<hr>
		<h2>Channel</h2>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium, architecto explicabo adipisci nam, debitis soluta. Harum maiores explicabo consectetur reprehenderit ipsam natus, cupiditate doloribus ipsum odio recusandae quo impedit quisquam.</p>

		{% for channel in channels %}
			{% get_obj_perms request.user for channel as "channel_perms" %}
			<h3>{{ channel }}</h3>
			<p>Stream URL: <a href="{{ channel.streamURL }}">{{ channel.streamURL }}</a></p>
			<a href="{% host_url "admin-channel-edit" channel.id on "dashboard" %}" class="button"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Bearbeiten</a>
			{% if "delete_channel" in channel_perms %}
				<a href="{% host_url "admin-channel-delete" channel.id on "dashboard" %}" class="button alert"><i class="fa fa-trash-o" aria-hidden="true"></i> Löschen</a>
			{% endif %}
		{% endfor %}
		
	</div>
</div>

{% endblock %}
