{% extends 'radioportal/dashboard/base.html' %}{% load i18n hosts %}
{% comment %}
Copyright © 2012 Robert Weidlich. All Rights Reserved.

Redistribution and use in source and binary forms, with or without
modification, are permitted provided that the following conditions are met:

1. Redistributions of source code must retain the above copyright notice, this
list of conditions and the following disclaimer.

2. Redistributions in binary form must reproduce the above copyright notice,
this list of conditions and the following disclaimer in the documentation
and/or other materials provided with the distribution.

3. The name of the author may not be used to endorse or promote products
derived from this software without specific prior written permission.

THIS SOFTWARE IS PROVIDED BY THE LICENSOR "AS IS" AND ANY EXPRESS OR IMPLIED
WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF
MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO
EVENT SHALL THE AUTHOR BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL,
EXEMPLARY, OR CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT
OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS
INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN
CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING
IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY
OF SUCH DAMAGE.
{% endcomment %}
{% block breadcrumb %}
{{ block.super }} » 
{% trans "Messages" %}
{% endblock %}
{% block head_js %}
{{ block.super }}
<script language="javascript" type="text/javascript">
function init() { 
    output = document.getElementById("output");
    socket = new WebSocket("wss://dashboard.test.xenim.de/websocket");
    socket.onopen = function(evt) { onOpen(evt) };
    socket.onclose = function(evt) { onClose(evt) };
    socket.onmessage = function(evt) { onMessage(evt) };
    socket.onerror = function(evt) { onError(evt) };
}

function onOpen(evt) { 
    document.getElementById("status").innerHTML = "connected!";
}

function onClose(evt) { 
    document.getElementById("status").innerHTML = "disconnected";
}

function onError(evt) {
    document.getElementById("status").innerHTML = "error:" + evt.data;
}

function onMessage(evt) {
    data = JSON.parse(evt.data)
    var table = document.getElementById("output");
    var row = table.insertRow(1);
    var time = row.insertCell(0);
    time.innerHTML = new Date().toLocaleString("de")
    var msg = row.insertCell(1);
    msg.innerHTML = data["message"];
    var origin = row.insertCell(2);
    origin.innerHTML = data["path"];
    var sev = row.insertCell(3);
    sev.innerHTML = data["level"];
    var object = row.insertCell(4);
    if ("channel" in data) {
        object.innerHTML = "Channel "+data["channel"]
    }

    $(row).css('backgroundColor','hsla(0,100%,50%, 1.0)');
    
    var d = 1000;
    for(var i=50; i<=100; i=i+0.1){ //i represents the lightness
        d  += 20;
        (function(ii,dd){
            setTimeout(function(){
                $(row).css('backgroundColor','hsla(0,100%,'+ii+'%, '+(2.0-ii/50.0)+')'); 
            }, dd);    
        })(i,d);
    }
}

window.addEventListener("load", init, false);
</script>
{% endblock %}
{% block content %}
<h2>{% trans "Messages" %}</h2>
<p>Status: <span id="status">disconnected</span></p>
<table border=1 id="output">
<thead>
<tr>
  <th>{% trans "Time" %}</th>
  <th>{% trans "Message" %}</th>
  <th>{% trans "Origin" %}</th>
  <th>{% trans "Severity" %}</th>
  <th>{% trans "Object" %}</th>
</tr>
</thead>
{% for message in xsn_msgs %}
<tr class="{% if not message.read %}un{% endif %}read severity{{ message.severity }}">
  <td>{{ message.timestamp }}</td>
  <td>{{ message.message }}</td>
  <td>{{ message.origin }}</td>
  <td>{{ message.severity }}</td>
  <td>{{ message.message_object }}</td>
</tr>
{% endfor %}
</table>
{% endblock %}
