{% extends 'radioportal/dashboard/base.html' %}{% load i18n hosts %}
{% comment %}
Copyright © 2012 Robert Weidlich. All Rights Reserved.

Redistribution and use in source and binary forms, with or without
modification, are permitted provided that the following conditions are met:

1. Redistributions of source code must retain the above copyright notice, this
list of conditions and the following disclaimer.

2. Redistributions in binary form must reproduce the above copyright notice,
this list of conditions and the following disclaimer in the documentation
and/or other materials provided with the distribution.

3. The name of the author may not be used to endorse or promote products
derived from this software without specific prior written permission.

THIS SOFTWARE IS PROVIDED BY THE LICENSOR "AS IS" AND ANY EXPRESS OR IMPLIED
WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF
MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO
EVENT SHALL THE AUTHOR BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL,
EXEMPLARY, OR CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT
OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS
INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN
CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING
IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY
OF SUCH DAMAGE.
{% endcomment %}
{% block breadcrumb %}
{{ block.super }} » 
	{% if object %}
	<a href="{% host_url admin-episode-list object.show.slug on dashboard %}">{{ object.show.name }}</a> »
	{% trans "Edit Show" %}
	{% else %}{% trans "Create Show" %}{% endif %}
{% endblock %}
{% block head_js %}
        {{ block.super }}
        <script type="text/javascript" src="{{ STATIC_URL }}jquery-1.6.2.min.js"></script>
{% endblock %}
{% block content %}
<h2>
{% if object %}{% trans "Edit" %} {{ object|object_name }}
{% else %}{% trans "Create Show" %}{% endif %}
</h2>
<p>{% blocktrans %}It is possible to update the show and episode from the podcast feed of your show. 
To use this feature enable it below and enter the URL to your feed. Additionally it is necessary to 
specify a regular expression to separate the title of a feed entry into a id for an episode and the 
topic of this episode. This is used to correlate an entry from the feed with an episode of the xenim
streaming network. The regular expression should contain the two named groups "id" and "topic". An
Example for an entry like "MM073 Creepy" is "(?P<id>\w*) (?P<topic>.*)".{% endblocktrans %}</p>
<p>Mit der Aktualisierung aus dem iCal-Feed werden aus den Einträgen im iCal-Feed geplante Sendungen
 generiert. Dazu müssen der Startzeitpunkt der Einträge in der Zukunft liegen und das Feld "SUMMARY"
 mit der gewünschten Folgen-ID beginnen, zum Beispiel "SUMMARY:MM091 Live". Existiert bereits eine
geplante Folge mit dieser ID, so werden die Informationen dieser Folge aktualisiert. Enthält das Feld
DESCRIPTION das Tag #noshow, so wird dieser Eintrag übersprungen.</p>
<form action="" method="POST" enctype="multipart/form-data">
{% csrf_token %}
<table>
{{ form.as_table }}
<tr><td colspan="2"><input type="submit" value="{% trans "Apply" %}" /></td></tr>
</table>
</form>
  <script type="text/javascript">
    function toggle() {
          $("tr:gt(0):lt(3)").toggle();
    }

    $(document).ready(function() {
      $('#id_enabled').bind('change', false);
      $('#id_enabled').change(toggle);
      if(!$('#id_enabled').is(':checked')) {
         toggle();
      }
    });
  </script>
{% endblock %}
