{% extends 'radioportal/dashboard/base.html' %}{% load i18n hosts %}
{% block breadcrumb %}
{{ block.super }} » 
	{% if object %}
	<a href="{% host_url admin-episode-list object.show.slug on dashboard %}">{{ object.show.name }}</a> »
	{% trans "Edit Show" %}
	{% else %}{% trans "Create Show" %}{% endif %}
{% endblock %}
{% block content %}
<h2>
{% if object %}{% trans "Edit" %} {{ object|object_name }}
{% else %}{% trans "Create Show" %}{% endif %}
</h2>
<form action="" method="POST" enctype="multipart/form-data">
{% csrf_token %}
<table>
{{ form.as_table }}
<tr><td colspan="2"><input type="submit" value="{% trans "Apply" %}" /></td></tr>
</table>
</form>
{% endblock %}
