{% extends 'radioportal/base.html' %}{% load cache i18n shorturl hosts thumbnail %}
{% comment %}
Copyright © 2012 Robert Weidlich. All Rights Reserved.

Redistribution and use in source and binary forms, with or without
modification, are permitted provided that the following conditions are met:

1. Redistributions of source code must retain the above copyright notice, this
list of conditions and the following disclaimer.

2. Redistributions in binary form must reproduce the above copyright notice,
this list of conditions and the following disclaimer in the documentation
and/or other materials provided with the distribution.

3. The name of the author may not be used to endorse or promote products
derived from this software without specific prior written permission.

THIS SOFTWARE IS PROVIDED BY THE LICENSOR "AS IS" AND ANY EXPRESS OR IMPLIED
WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF
MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO
EVENT SHALL THE AUTHOR BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL,
EXEMPLARY, OR CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT
OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS
INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN
CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING
IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY
OF SUCH DAMAGE.
{% endcomment %}

{% block content %}

<div class="row">
	<div class="small-12 columns">

		<h1>Sendeplan</h1>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi officiis explicabo ipsam officia et amet pariatur. Possimus corporis sunt sint itaque ipsam laboriosam, illo ipsum at, molestiae facere officiis id.</p>

		<hr>
		<h2>Jetzt live</h2>

		{% if running %}
		{% for episode in running %}

		<div class="media-object">
			<div class="media-object-section">
				<a href="{% url 'show_detail' slug=episode.show.slug %}">        
					<img class="thumbnail show-for-medium" src="http://placehold.it/100x100">
					<img class="thumbnail hide-for-medium" src="http://placehold.it/80x80">
				</a>
			</div>
			<div class="media-object-section">
				<h3>{{episode.show.name}} <small>{{episode.title}}</small></h3>
				<p class="show-for-medium">{{episode.show.abstract}}</p>
				<a href="#" class="button"><i class="fa fa-play" aria-hidden="true"></i> Hören</a>
			</div>
		</div>

		{% endfor %}
		{% else %}
		<p>{% trans "No episodes are streamed at the moment" %}</p>
		{% endif %}

		<hr>
		<h2>Geplant</h2>

		{% if upcoming %}
		{% for episode in upcoming %}

		<div class="media-object">
			<div class="media-object-section">
				<a href="{% url 'show_detail' slug=episode.show.slug %}">        
					<img class="thumbnail show-for-medium" src="http://placehold.it/100x100">
					<img class="thumbnail hide-for-medium" src="http://placehold.it/80x80">
				</a>
			</div>
			<div class="media-object-section">
				<h3>{{ episode.show.name }} <small>{{episode.title}}</small></h3>
				<p>{{episode.begin}}</p>
				<p class="show-for-medium">{{ episode.show.abstract }}</p>
			</div>
		</div>


		{% endfor %}
		{% else %}
		<p>{% trans "No episodes are planned at the moment" %}</p>
		{% endif %}


	</div>
</div>


{% endblock %}
