{% extends 'radioportal/base.html' %}{% load cache i18n shorturl guardian_tags hosts %}
{% comment %}
Copyright © 2012 Robert Weidlich. All Rights Reserved.

Redistribution and use in source and binary forms, with or without
modification, are permitted provided that the following conditions are met:

1. Redistributions of source code must retain the above copyright notice, this
list of conditions and the following disclaimer.

2. Redistributions in binary form must reproduce the above copyright notice,
this list of conditions and the following disclaimer in the documentation
and/or other materials provided with the distribution.

3. The name of the author may not be used to endorse or promote products
derived from this software without specific prior written permission.

THIS SOFTWARE IS PROVIDED BY THE LICENSOR "AS IS" AND ANY EXPRESS OR IMPLIED
WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF
MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO
EVENT SHALL THE AUTHOR BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL,
EXEMPLARY, OR CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT
OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS
INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN
CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING
IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY
OF SUCH DAMAGE.
{% endcomment %}
{% block breadcrumb %}
{{ block.super }} 
» <a href="{% url 'show' show_name=episode.show.slug %}">{{ episode.show.name }}</a>
» {{ episode.title }}{% endblock %}
{% block title %} 
	&middot; {% trans "Archive" %}
	&middot; {{ episode.show.name }} 
	&middot; {{ episode.title }}
{% endblock %}
{% block head_css %}
	{{ block.super }}
	{% include "radioportal/episodes/episode_streams_head_css.html" %}
{% endblock %}
{% block head_js %}
	{{ block.super }}
	{% include "radioportal/episodes/episode_streams_head_js.html" %}
{% endblock %}

{% block shorturl_head %}{% cache 36000 episode.id %}<link rev="canonical" href="{% shorturl episode %}" />{% endcache %}{% endblock %}
{% block shorturl_footer %}{% cache 36000 episode.id %}
<!--  <a rev="canonical" href="{% shorturl episode %}">{% trans "Short URL" %}</a> -->
{% shorturl episode %}
{% endcache %}{% get_obj_perms request.user for episode.show as "episode_perm" %}{% if "change_episodes" in episode_perm %} <a class="dashboard" href="{% host_url "admin-episode-edit" episode.pk on "dashboard" %}">{% trans "edit" %}</a>{% endif %}{% endblock %}
{% block collapsed_shows %}{% endblock %}
{% block navi_shows %}
{% comment %}
<ul>
	<li><a class="collapsed" href="{% url 'show' show_name=episode.show.slug %}">{{ episode.show.name }}</a>
		<ul>
			<li class="active">
				<a href="{% url 'episode' show_name=episode.show.slug episode_id=episode.slug %}">
					{{ episode.slug|upper }}
				</a>
			</li>
		</ul>
	</li>
</ul>
{% endcomment %}
{% endblock %}
{% block content %}
{% for part in episode.parts.all %}
	<h2>{{ episode.slug|upper }}{% if part.title %}: {{ part.title }}{% endif %}</h2>
	<small>
		{% if part.end %}{% trans "From" %}{% else %}{% trans "Since" %}{% endif %}
		{{ part.begin|date:"d. F Y H:i" }}{% if part.end %}
		{% trans "until"%} {{ part.end|date:"d. F Y H:i" }}{% endif %}
		{% if part.url %}(<a href="{{ part.url }}">Homepage zur Sendung</a>){% endif %}
	</small>
	{% if part.description %}<p>{{ part.description|safe }}</p>{% endif %}
	{% if forloop.first %}
		{% include "radioportal/episodes/episode_streams.html" %}
                <div class="streams">
	        {% if episode.show.chat %}{% ifequal episode.status "RUNNING" %}
                <span class="chat" style="border: 2px solid #D9E1EE; padding: 0.5em; margin: 0.2em;">
			<b>{% trans "Chat" %}</b>: <a href="http://webchat.freenode.net?channels={{ episode.show.chat|urlsplit:"fragment" }}"><code>{{ episode.show.chat }}</code></a>
                </span>
	        {% endifequal %}{% endif %}
{% if part.shownotes_id %}
                <span class="shownotes" style="border: 2px solid #D9E1EE; padding: 0.5em; margin: 0.2em;">
			<a href="https://shownot.es/doc/{{ part.shownotes_id }}/">{% trans "Shownotes for this episode" %}</a>
                </span>
{% endif %}
                </div>
	{% endif %}
	<div class="graphs">
	{% for graphic in part.graphics.all %}
		<div class="graph">
			<a href="{{ graphic.file.url }}" rel="lightbox">
				<img src="{{ graphic.file.url }}" alt="{% trans "visualization of listener counts" %}" />
			</a>
		</div>
	{% endfor %}
	</div>
{% endfor %}
{% endblock %}
