{% extends 'radioportal/base.html' %}{% load cache i18n shorturl guardian_tags hosts staticfiles %}
{% comment %}
Copyright © 2012 Robert Weidlich. All Rights Reserved.

Redistribution and use in source and binary forms, with or without
modification, are permitted provided that the following conditions are met:

1. Redistributions of source code must retain the above copyright notice, this
list of conditions and the following disclaimer.

2. Redistributions in binary form must reproduce the above copyright notice,
this list of conditions and the following disclaimer in the documentation
and/or other materials provided with the distribution.

3. The name of the author may not be used to endorse or promote products
derived from this software without specific prior written permission.

THIS SOFTWARE IS PROVIDED BY THE LICENSOR "AS IS" AND ANY EXPRESS OR IMPLIED
WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF
MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO
EVENT SHALL THE AUTHOR BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL,
EXEMPLARY, OR CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT
OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS
INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN
CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING
IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY
OF SUCH DAMAGE.
{% endcomment %}

{% block head_js %}
	{{ block.super }}
    <script src="{% static 'showgraph.min.js' %}"></script>
{% endblock %}

{% block title %}{{show.name}} - {{episode.title}}{% endblock %}


{% block content %}



<div class="row">
	<div class="medium-4 columns">
		<img class="thumbnail" src="http://placehold.it/400x400">
	</div>
	<div class="medium-8 columns">
		<h1>{{ show.name }} <small>{{ episode.slug }} {{ episode.title }}</small></h1>
		<p> {% if episode.end %}{% trans "From" %}{% else %}{% trans "Since" %}{% endif %}
		{{ episode.begin|date:"d. F Y H:i" }}
		{% if episode.end %}{% trans "until"%} {{ episode.end|date:"d. F Y H:i" }}{% endif %}</p>
		<p>{{ show.abstract }}</p>
		<ul class="vertical medium-horizontal menu">
		  {% if show.url %}<li><a href="{{ show.url }}"><i class="fa fa-safari" aria-hidden="true"></i> <span>Webseite</span></a></li>{% endif %}
		  {% if show.twitter %}<li><a href="https://twitter.com/{{ show.twitter }}"><i class="fa fa-twitter" aria-hidden="true"></i> <span>Twitter</span></a></li>{% endif %}
		  {% if show.public_email %}<li><a href="mailto:{{ show.public_email }}"><i class="fa fa-envelope" aria-hidden="true"></i> <span>Kontakt</span></a></li>{% endif %}
		  {% if show.chat %}<li><a href="{{ show.chat }}"><i class="fa fa-comment" aria-hidden="true"></i>
 Chat</a></li>{% endif %}
		</ul>
		
		<script class="podigee-podcast-player" src="https://cdn.podigee.com/podcast-player/javascripts/podigee-podcast-player.js" data-configuration="{{ request.build_absolute_uri }}/json"></script>
	</div>
</div>


<div class="column row">
	<hr>
	<ul class="tabs" data-tabs id="episode-tabs">
	  <li class="tabs-title"><a href="#panel2">Hörerzahlen</a></li>
	</ul>

	<div class="tabs-content" data-tabs-content="episode-tabs">
	  <div class="tabs-panel" id="panel2">
	  	<div class="graphs">
	  	{% for graphic in episode.parts.first.graphics.all %}
	  		<div class="graph" id="{{ graphic.uuid }}">
	  			{% if graphic.data %}
	  			<div id="graph-{{ graphic.uuid }}"></div>
	  			<script>
	  				showgraph("{% url "graphic_stats" graphic.uuid %}", "#graph-{{ graphic.uuid }}", function(d) { return d.hostname; });
	  			</script>
	  			{% elif graphic.file %}
	  			<a href="{{ graphic.file.url }}">
	  				<img src="{{ graphic.file.url }}" alt="{% trans "visualization of listener counts" %}" />
	  			</a>
	  			{% endif %}
	  		</div>
	  		{% endfor %}
	  	</div>
	  </div>
	</div>
</div>


{% endblock %}
