{% extends 'radioportal/episodes/episode_list_base.html' %}{% load i18n hosts %}
{% block title %} &middot; {% if show %}{{ object_list.0.show.name }}{% else %}{% trans "Upcoming Episodes" %}{% endif %}{% endblock %}
{% block breadcrumb %}{{ block.super }} » {% trans "Upcoming Episodes" %}{% endblock %}
{% block head %}
{% if show %}
	<link href="http:{% host_url shows-feed status="upcoming" show_name=show.slug on feeds %}" type="application/atom+xml" rel="alternate" title="ATOM Feed" />
	<link href="http:{% host_url upcoming-show-ical show_name=show.slug on feeds %}" type="text/calendar" rel="alternate" title="Calendar" />
{% else %}
	<link href="http:{% host_url all-feed status="upcoming" on feeds %}" type="application/atom+xml" rel="alternate" title="ATOM Feed" />
	<link href="http:{% host_url upcoming-all-ical on feeds %}" type="text/calendar" rel="alternate" title="Calendar" />
{% endif %}
{% endblock %}
{% block feed_footer %}
{% if show %}
	<li><a href="http:{% host_url shows-feed status="upcoming" show_name=show.slug on feeds %}" class="feed atom">{% trans "atom" %}</a></li>
	<li><a href="http:{% host_url upcoming-show-ical show_name=show.slug on feeds %}" class="feed ical">{% trans "ical" %}</a></li>
{% else %}
	<li><a href="http:{% host_url all-feed status="upcoming" on feeds %}" class="feed atom">{% trans "atom" %}</a></li>
	<li><a href="http:{% host_url upcoming-all-ical on feeds %}" class="feed ical">{% trans "ical" %}</a></li>
{% endif %}
{% endblock %}

{% block collapsed_shows %}{% endblock %}
{% block collapsed_upcoming %}un{% endblock %}
{% block navi_upcoming %}
{% if future %}
<ul>
{% for episode in future %}
	<li>
		<a href="{% url episode show_name=episode.show.slug,episode_id=episode.slug %}">
			{{ episode.slug|upper }}
		</a>
	</li>
{% endfor %}
</ul>
{% endif %}
{% endblock %}
{% block navi_shows %}{% endblock %}
{% block list_head %}
{# <h1>Liste der geplanten Sendungen</h1> #}
{% endblock %}
{% block no_episodes %}
<h2>{% trans "There are no episodes upcoming currently" %}</h2>
{% endblock %}
