        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4/jquery.min.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}slimbox/js/slimbox2.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}jplayer/jquery.jplayer.min.js"></script>
  <script type="text/javascript">
    if(typeof(String.prototype.trim) === "undefined") {
        String.prototype.trim = function() {
            return String(this).replace(/^\s+|\s+$/g, '');
        };
    }

    function showplayer(index, element) {
      $(element).find(".jp-show-player").bind('click', false);
      $(element).find(".jp-show-player").bind('click', function() {
          $(element).find(".jp-activate").css('display','none');
          $(element).find(".jp-interface").css('display','block');
          media = {}
          $(element).find("ul > li.stream.direct").each(function () {
              var format=$(this).find(".what").text().trim().replace(/\s+/g, ' ').split(" ")[0];
              if (format == "ogg") { format = "oga"; }
              var mount = $(this).find("a.mount").attr("href");
              var url = window.location.protocol + "//" + window.location.host + mount;
              media[format] = url;
          });
          var id = $(element).find(".jp-interface").attr("id");
          id = '#' + id
          $(element).find(".jp-jplayer").jPlayer({
            ready: function () {
              $(this).jPlayer("setMedia", media );
            },
            swfPath: "{{ MEDIA_URL }}css/jplayer/",
            preload: "none",
            cssSelectorAncestor: id,
          });
      })
    }

    $(document).ready(function() {
      $(".streams").each(showplayer);
    });
  </script>
