{% extends 'radioportal/episodes/episode_list_base.html' %}{% load i18n hosts %}
{% block title %} &middot; {% trans "Running episodes" %}{% endblock %}
{% block breadcrumb %}{{ block.super }} » {% trans "Running episodes" %}{% endblock %}
{% block collapsed_shows %}{% endblock %}
{% block collapsed_live %}un{% endblock %}
{% block head %}
{% if show %}
	<link href="{% host_url show-feed status="live" show_name=show.slug on feeds %}" type="application/atom+xml" rel="alternate" title="ATOM Feed" />
{% else %}
	<link href="{% host_url all-feed status="live" on feeds %}" type="application/atom+xml" rel="alternate" title="ATOM Feed" />
{% endif %}

{% endblock %}
{% block feed_footer %}
{% if show %}
	<li><a href="{% host_url show-feed status="live" show_name=show.slug on feeds %}" class="feed atom">{% trans "atom" %}</a></li>
{% else %}
	<li><a href="{% host_url all-feed status="live" on feeds %}" class="feed atom">{% trans "atom" %}</a></li>
{% endif %}

{% endblock %}
{% block navi_live %}
{% if now %}
<ul>
{% for episode in now %}
	<li>
		<a href="{% url episode show_name=episode.show.slug,episode_id=episode.shortName %}">
			{{ episode.shortName|upper }}
		</a>
	</li>
{% endfor %}
</ul>
{% endif %}
{% endblock %}
{% block navi_shows %}{% endblock %}
{% block list_head %}
{# <h1>Liste der momentan laufenden Sendungen</h1> #}
{% endblock %}
{% block no_episodes %}
<h2>{% trans "No episodes are streamed at the moment" %}</h2>
{% endblock %}
