{% extends 'radioportal/base.html' %}{% load cache i18n shorturl %}
{% block breadcrumb %}
{{ block.super }} 
» <a href="{% url show show_name=episode.show.slug %}">{{ episode.show.name }}</a>
» {{ episode.topic }}{% endblock %}
{% block title %} 
	&middot; {% trans "Archive" %}
	&middot; {{ episode.show.name }} 
	&middot; {{ episode.topic }}
{% endblock %}
{% block head_css %}
	{{ block.super }}
	{% include "radioportal/episodes/episode_streams_head_css.html" %}
{% endblock %}
{% block head_js %}
	{{ block.super }}
	{% include "radioportal/episodes/episode_streams_head_js.html" %}
{% endblock %}

{% block shorturl_head %}{% cache 36000 episode.id %}<link rev="canonical" href="{% shorturl episode %}" />{% endcache %}{% endblock %}
{% block shorturl_footer %}{% cache 36000 episode.id %}
	<li><a rev="canonical" href="{% shorturl episode %}">{% trans "Short URL" %}</a></li>
{% endcache %}{% endblock %}
{% block collapsed_shows %}{% endblock %}
{% block navi_shows %}
{% comment %}
<ul>
	<li><a class="collapsed" href="{% url show show_name=episode.show.slug %}">{{ episode.show.name }}</a>
		<ul>
			<li class="active">
				<a href="{% url episode show_name=episode.show.slug,episode_id=episode.shortName %}">
					{{ episode.shortName|upper }}
				</a>
			</li>
		</ul>
	</li>
</ul>
{% endcomment %}
{% endblock %}
{% block content %}
{% cache 300 episode_detail episode.id episode.status %}
	<h2>{{ episode.shortName|upper }}: {{ episode.topic }}</h2>
	<small>
		{{ episode.begin|date:"d. F Y H:i" }} bis {{ episode.end|date:"d. F Y H:i" }}
		(<a href="{{ episode.url }}">Homepage zur Sendung</a>)

	</small>
	{% ifequal episode.status "RUNNING" %}
	<br /><small>{% trans "Current Content" %}: {{ episode.currentSong }}</small>
	{% endifequal %}
	{% include "radioportal/episodes/episode_streams.html" %}
	<p>{{ episode.description|safe }}</p>
	<div class="graphs">
	{% for graphic in episode.graphics.all %}
		<div class="graph">
			<a href="{{ graphic.file.url }}" rel="lightbox">
				<img src="{{ graphic.file.url }}" alt="{% trans "visualization of listener counts" %}" />
			</a>
		</div>
	{% endfor %}
	</div>
{% endcache %}
{% endblock %}
