{% extends 'radioportal/episodes/episode_list_base.html' %}{% load i18n hosts%}
{% block title %} &middot; {{ object_list.0.show.name }} {% endblock %}
{% block breadcrumb %}{{ block.super }} » {% trans "Latest episodes" %}{% endblock %}

{% block head %}
{% if show %}
	<link href="{% host_url show-feed status="latest" show_name=show.slug on feeds %}" type="application/atom+xml" rel="alternate" title="ATOM Feed" />
{% else %}
	<link href="{% host_url all-feed status="latest" on feeds %}" type="application/atom+xml" rel="alternate" title="ATOM Feed" />
{% endif %}

{% endblock %}
{% block feed_footer %}
{% if show %}
	<li><a href="{% host_url show-feed status="latest" show_name=show.slug on feeds %}" class="feed atom">{% trans "atom" %}</a></li>
{% else %}
	<li><a href="{% host_url all-feed status="latest" on feeds %}" class="feed atom">{% trans "atom" %}</a></li>
{% endif %}

{% endblock %}
{% block collapsed_shows %}{% endblock %}
{% block collapsed_planned %}un{% endblock %}
{% block navi_planned %}
{% if future %}
<ul>
{% for episode in future %}
	<li>
		<a href="{% url episode show_name=episode.show.slug episode_id=episode.slug %}">
			{{ episode.slug|upper }}
		</a>
	</li>
{% endfor %}
</ul>
{% endif %}
{% endblock %}
{% block navi_shows %}{% endblock %}
{% block list_head %}
{# <h1>Liste der geplanten Sendungen</h1> #}
{% endblock %}
{% block no_episodes %}
<h2>{% trans "There are no episodes planned currently" %}</h2>
{% endblock %}
