{% extends 'radioportal/episodes/episode_list_base.html' %}{% load i18n hosts %}
{% comment %}
Copyright © 2012 Robert Weidlich. All Rights Reserved.

Redistribution and use in source and binary forms, with or without
modification, are permitted provided that the following conditions are met:

1. Redistributions of source code must retain the above copyright notice, this
list of conditions and the following disclaimer.

2. Redistributions in binary form must reproduce the above copyright notice,
this list of conditions and the following disclaimer in the documentation
and/or other materials provided with the distribution.

3. The name of the author may not be used to endorse or promote products
derived from this software without specific prior written permission.

THIS SOFTWARE IS PROVIDED BY THE LICENSOR "AS IS" AND ANY EXPRESS OR IMPLIED
WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF
MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO
EVENT SHALL THE AUTHOR BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL,
EXEMPLARY, OR CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT
OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS
INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN
CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING
IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY
OF SUCH DAMAGE.
{% endcomment %}
{% block title %} &middot; {% trans "Running episodes" %}{% endblock %}
{% block breadcrumb %}{{ block.super }} » {% trans "Running episodes" %}{% endblock %}
{% block collapsed_shows %}{% endblock %}
{% block collapsed_live %}un{% endblock %}
{% block head %}
{% if show %}
	<link href="http:{% host_url shows-feed status="live" show_name=show.slug on feeds %}" type="application/atom+xml" rel="alternate" title="ATOM Feed" />
{% else %}
	<link href="http:{% host_url all-feed status="live" on feeds %}" type="application/atom+xml" rel="alternate" title="ATOM Feed" />
{% endif %}

{% endblock %}
{% block feed_footer %}
{% if show %}
	<li><a href="http:{% host_url shows-feed status="live" show_name=show.slug on feeds %}" class="feed atom">{% trans "atom" %}</a></li>
{% else %}
	<li><a href="http:{% host_url all-feed status="live" on feeds %}" class="feed atom">{% trans "atom" %}</a></li>
{% endif %}

{% endblock %}
{% block navi_live %}
{% if now %}
<ul>
{% for episode in now %}
	<li>
		<a href="{% url 'episode' show_name=episode.show.slug episode_id=episode.slug %}">
			{{ episode.slug|upper }}
		</a>
	</li>
{% endfor %}
</ul>
{% endif %}
{% endblock %}
{% block navi_shows %}{% endblock %}
{% block no_episodes %}
<h2>{% trans "No episodes are streamed at the moment" %}</h2>
{% endblock %}
