{% extends 'radioportal/episodes/episode_list_base.html' %}{% load i18n hosts %}
{% block title %} &middot; {% if show %}{{ object_list.0.show.name }}{% else %}{% trans "Planned Episodes" %}{% endif %}{% endblock %}
{% block breadcrumb %}{{ block.super }} » {% trans "Planned Episodes" %}{% endblock %}
{% block head %}
{% if show %}
	<link href="{% host_url show-feed status="planned" show_name=show.slugName on feeds %}" type="application/atom+xml" rel="alternate" title="ATOM Feed" />
	<link href="{% host_url planned-show-ical show_name=show.slugName on feeds %}" type="text/calendar" rel="alternate" title="Calendar" />
{% else %}
	<link href="{% host_url all-feed status="planned" on feeds %}" type="application/atom+xml" rel="alternate" title="ATOM Feed" />
	<link href="{% host_url planned-all-ical on feeds %}" type="text/calendar" rel="alternate" title="Calendar" />
{% endif %}
{% endblock %}
{% block feed_footer %}
{% if show %}
	<li><a href="{% host_url show-feed status="planned" show_name=show.slugName on feeds %}" class="feed atom">{% trans "atom" %}</a></li>
	<li><a href="{% host_url planned-show-ical show_name=show.slugName on feeds %}" class="feed ical">{% trans "ical" %}</a></li>
{% else %}
	<li><a href="{% host_url all-feed status="planned" on feeds %}" class="feed atom">{% trans "atom" %}</a></li>
	<li><a href="{% host_url planned-all-ical on feeds %}" class="feed ical">{% trans "ical" %}</a></li>
{% endif %}
{% endblock %}

{% block collapsed_shows %}{% endblock %}
{% block collapsed_planned %}un{% endblock %}
{% block navi_planned %}
{% if future %}
<ul>
{% for episode in future %}
	<li>
		<a href="{% url episode show_name=episode.show.slugName,episode_id=episode.shortName %}">
			{{ episode.shortName|upper }}
		</a>
	</li>
{% endfor %}
</ul>
{% endif %}
{% endblock %}
{% block navi_shows %}{% endblock %}
{% block list_head %}
{# <h1>Liste der geplanten Sendungen</h1> #}
{% endblock %}
{% block no_episodes %}
<h2>{% trans "There are no episodes planned currently" %}</h2>
{% endblock %}
