{% load cache i18n hosts %}
{% ifequal episode.status "RUNNING" %}
	{% cache 900 episode_stream episode.status episode.id %}
	<div class="streams audio">
	{% if episode.streamsetup %}
        <h4>{% trans "Listen" %}: {{ episode.streamsetup.streamCurrentSong }}</h4>

     
		<ul>
<li class="stream webplayer">
<span class="play">
&#9658;
</span>
<span class="player">
Here should appear the Webplayer
</span>
</li>
		{% for stream in episode.streamsetup.running_streams %}
		{% spaceless %}
		<li class="stream direct">
			<a href="http:{% host_url playlist slug=stream.mount on www %}">{{ stream.format }} {{ stream.bitrate|formataudio:stream.format }}</a>
			(<a href="http:{% host_url mount stream=stream.mount on www %}" class="mount">{% trans "direct" %}</a>,
			<a href="{% load shorturl %}{% shorturl stream %}">{% trans "Short URL" %}</a>)
		</li>
		{% endspaceless %}
		{% empty %}
		<li class="stream">{% trans "Streams are upcoming, please wait." %}</li>
		{% endfor %}
		</ul>
	{% else %}
		<p>{% trans "No streams available currently" %}</p>
	{% endif %}
	</div>
	{% endcache %}
<style type="text/css">
.play:hover {
	cursor: pointer;
}
.player {
	display:none;
}

</style>
{% endifequal %}
