{% extends 'radioportal/base.html' %}{% load cache i18n hosts staticfiles %}
{% comment %}
Copyright © 2012 Robert Weidlich. All Rights Reserved.

Redistribution and use in source and binary forms, with or without
modification, are permitted provided that the following conditions are met:

1. Redistributions of source code must retain the above copyright notice, this
list of conditions and the following disclaimer.

2. Redistributions in binary form must reproduce the above copyright notice,
this list of conditions and the following disclaimer in the documentation
and/or other materials provided with the distribution.

3. The name of the author may not be used to endorse or promote products
derived from this software without specific prior written permission.

THIS SOFTWARE IS PROVIDED BY THE LICENSOR "AS IS" AND ANY EXPRESS OR IMPLIED
WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF
MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO
EVENT SHALL THE AUTHOR BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL,
EXEMPLARY, OR CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT
OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS
INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN
CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING
IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY
OF SUCH DAMAGE.
{% endcomment %}
{% block shorturl_header %}<link rev="canonical" href="http://xsn.io" />{% endblock %}
{% block shorturl_footer %}<span class="shorturl">http://xsn.io</span>{% endblock %}
{% block breadcrumb %}{% endblock %}
{% block head_css %}
	{{ block.super }}
	<link rel="stylesheet" href="{% static "css/player-xenim.css" %}" />
{% endblock %}
{% block head_js %}
	{{ block.super }}
	<script src="{% static "js/mediaelement-and-player.min.js" %}"></script>
	<script>
	$('audio').mediaelementplayer({
		features: ['playpause'],
		stretching: "fill",
		setDimensions: false,
		success: function (mediaElement, domObject) {
			mediaElement.addEventListener('pause', function (e) {
				mediaElement.load();
			}, false);
	        }
	});
	</script>
{% endblock %}

{% block head %}
<link href="{% host_url "all-feed" status='upcoming' on "feeds" %}" type="application/atom+xml" rel="alternate" title="{% trans "feed for" %} {% trans "upcoming episodes" %}" />
<link href="{% host_url "all-feed" status='live' on "feeds" %}" type="application/atom+xml" rel="alternate" title="{% trans "feed for" %} {% trans "running episodes" %}" />
<link href="{% host_url "all-feed" status='recent' on "feeds" %}" type="application/atom+xml" rel="alternate" title="{% trans "feed for" %} {% trans "archived episodes" %}" />
<link href="{% host_url "upcoming-all-ical" on "feeds" %}" type="text/calendar" rel="alternate" title="Calendar" />
{% endblock %}

{% block content %}
{% if running %}
<h2>{% trans "Running Episodes" %}&nbsp;<a href="{% host_url "all-feed" status='live' on "feeds" %}" class="icon-rss-squared"></a></h2>
{% for episode in running %}
	{% include "radioportal/episodes/episode_list_entry.html" %}{% endfor %}
{% else %}
<h2 style="margin-bottom:8em;margin-top:3em;">{% trans "No episodes are streamed at the moment" %}&nbsp;<a href="{% host_url "all-feed" status='live' on "feeds" %}" class="icon-rss-squared"></a></h2>
{% endif %}

{% if upcoming %}
<h2>{% trans "Upcoming Episodes" %}&nbsp;<a href="{% host_url "all-feed" status='upcoming' on "feeds" %}" class="icon-rss-squared"></a><a href="{% host_url "upcoming-all-ical" on "feeds" %}" class="icon-calendar"></a></h2>
{% for episode in upcoming %}
	{% include "radioportal/episodes/episode_list_entry.html" %}
{% endfor %}
{% endif %}

<h2>{% trans "Recent Episodes" %}&nbsp;<a href="{% host_url "all-feed" status='recent' on "feeds" %}" class="icon-rss-squared"></a></h2>
{% for episode in archived %}
	{% include "radioportal/episodes/episode_list_entry.html" %}
{% empty %}
<p>{% trans "No episodes available." %}</p>
{% endfor %}
{% endblock %}
