{% extends 'radioportal/base.html' %}{% load i18n cache %}
{% comment %}
Copyright © 2012 Robert Weidlich. All Rights Reserved.

Redistribution and use in source and binary forms, with or without
modification, are permitted provided that the following conditions are met:

1. Redistributions of source code must retain the above copyright notice, this
list of conditions and the following disclaimer.

2. Redistributions in binary form must reproduce the above copyright notice,
this list of conditions and the following disclaimer in the documentation
and/or other materials provided with the distribution.

3. The name of the author may not be used to endorse or promote products
derived from this software without specific prior written permission.

THIS SOFTWARE IS PROVIDED BY THE LICENSOR "AS IS" AND ANY EXPRESS OR IMPLIED
WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF
MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO
EVENT SHALL THE AUTHOR BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL,
EXEMPLARY, OR CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT
OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS
INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN
CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING
IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY
OF SUCH DAMAGE.
{% endcomment %}
{% block title %} &middot; {% trans "Archive" %}{% endblock %}
{% block collapsed_shows %}un{% endblock %}
{% block navi_shows %}{% comment %}
{% cache 900 navi_show %}
<!-- navi_show {% now "r" %} -->
{% if object_list %}
<ul>
{% for show in object_list %}
	<li><a class="collapsed" href="{% url show show_name=show.slug %}">{{ show.name }}</a></li>
{% endfor %}
</ul>
{% endif %}
{% endcache %}{% endcomment %}
{% endblock %}
{% block breadcrumb %}{{ block.super }} » {% trans "Shows" %}{% endblock %}
{% block content %}
<h2>{% trans "Archive" %}</h2>
<p>{% blocktrans %}Here are informations about the shows available, which were distributed through this streaming system. This includes the graphical statistic about listener counts.{% endblocktrans %}</p>
{# {% cache 900 show_list %} #}
<!-- show_list {% now "r" %} -->
{% if object_list %}
{% for show in object_list %}
	<div class="showslug {% if show.icon %}showicon{% endif %}">
	{% if show.icon %}<img src="{{ show.icon.url }}" alt="{{ show.name }} logo" />{% endif %}
	<h3><a href="{% url show show_name=show.slug %}">{{ show.name }}</a></h3>
	{% if show.description %}<small>{{ show.description }}</small>{% endif %}
	<p>{{ show.abstract|truncatewords:50 }} <a href="{% url show show_name=show.slug %}">{% trans "Read more" %} »</a></p>
	<span style="clear: both;"></span>
	</div>
{% endfor %}
{% else %}
	<p>{% trans "No shows available." %}</p>
{% endif %}
{% if is_paginated %}
<div class="pagination">
<ul>
	{% if page_obj.has_previous %}
	{% ifnotequal page_obj.previous_page_number 1 %}
	<li><a href="?page=1">{% trans "First" %}</a></li>
	{% endifnotequal %}
	<li><a href="?page={{ page_obj.previous_page_number }}">{% trans "Previous" %}</a></li>
	{% endif %}
	<li>{% trans "Page" %} {{ page_obj.number }} {% trans "of" %} {{ paginator.num_pages }}</li>
	{% if page_obj.has_next %}
	<li><a href="?page={{ page_obj.next_page_number }}">{% trans "Next" %}</a></li>
	{% ifnotequal page_obj.next_page_number paginator.num_pages %}
	<li><a href="?page=last">{% trans "Last" %}</a></li>
	{% endifnotequal %}
	{% endif %}
</ul>
</div>
{% endif %}

{# {% endcache %} #}
{% endblock %}
