{% extends 'radioportal/base.html' %}{% load cache i18n hosts %}
{% comment %}
Copyright © 2012 Robert Weidlich. All Rights Reserved.

Redistribution and use in source and binary forms, with or without
modification, are permitted provided that the following conditions are met:

1. Redistributions of source code must retain the above copyright notice, this
list of conditions and the following disclaimer.

2. Redistributions in binary form must reproduce the above copyright notice,
this list of conditions and the following disclaimer in the documentation
and/or other materials provided with the distribution.

3. The name of the author may not be used to endorse or promote products
derived from this software without specific prior written permission.

THIS SOFTWARE IS PROVIDED BY THE LICENSOR "AS IS" AND ANY EXPRESS OR IMPLIED
WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF
MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO
EVENT SHALL THE AUTHOR BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL,
EXEMPLARY, OR CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT
OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS
INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN
CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING
IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY
OF SUCH DAMAGE.
{% endcomment %}

{% block head_css %}
	{{ block.super }}
{% endblock %}

{% block head_js %}
	{{ block.super }}
{% endblock %}

{% block content %}

<div class="row">
	<div class="medium-4 columns">
		<img class="thumbnail" src="http://placehold.it/400x400">
	</div>
	<div class="medium-8 columns">
		<h1>{{ object.name }}</h1>
		<h3><small>{{ object.description }}</small></h3>
		<p>{{ object.abstract }}</p>
		<ul class="vertical medium-horizontal menu">
		  {% if show.url %}<li><a href="{{ show.url }}"><i class="fa fa-safari" aria-hidden="true"></i> <span>Webseite</span></a></li>{% endif %}
		  {% if show.twitter %}<li><a href="https://twitter.com/{{ show.twitter }}"><i class="fa fa-twitter" aria-hidden="true"></i> <span>Twitter</span></a></li>{% endif %}
		  {% if show.public_email %}<li><a href="mailto:{{ show.public_email }}"><i class="fa fa-envelope" aria-hidden="true"></i> <span>Kontakt</span></a></li>{% endif %}
		</ul>
	</div>
</div>



<div class="row">
	<div class="small-12 columns">
		<hr>
		<h2>Jetzt live</h2>
		<div class="media-object">
			<div class="media-object-section">
				<a href="#">				
					<img class="thumbnail show-for-medium" src="http://placehold.it/100x100">
					<img class="thumbnail hide-for-medium" src="http://placehold.it/80x80">
				</a>
			</div>
			<div class="media-object-section">
				<h3>Freakshow <small>Sendungstitel</small></h3>
				<p class="show-for-medium">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci porro illo, illum amet aliquid ipsum soluta eum quibusdam nemo corporis facere fugit cumque placeat mollitia quidem quod delectus, suscipit id.</p>
				<a href="#" class="button"><i class="fa fa-play" aria-hidden="true"></i> Hören</a>
			</div>
		</div>

		<hr>
		<h2>Geplant</h2>

		<div class="media-object">
			<div class="media-object-section">
				<a href="#">				
					<img class="thumbnail show-for-medium" src="http://placehold.it/100x100">
					<img class="thumbnail hide-for-medium" src="http://placehold.it/80x80">
				</a>
			</div>
			<div class="media-object-section">
				<h3>Freakshow <small>Sendungstitel</small></h3>
				<p>Donnerstag, 18:30</p>
				<p class="show-for-medium">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci porro illo, illum amet aliquid ipsum soluta eum quibusdam nemo corporis facere fugit cumque placeat mollitia quidem quod delectus, suscipit id.</p>
			</div>
		</div>

		<div class="media-object">
			<div class="media-object-section">
				<a href="#">				
					<img class="thumbnail show-for-medium" src="http://placehold.it/100x100">
					<img class="thumbnail hide-for-medium" src="http://placehold.it/80x80">
				</a>
			</div>
			<div class="media-object-section">
				<h3>Freakshow <small>Sendungstitel</small></h3>
				<p>Donnerstag, 18:30</p>
				<p class="show-for-medium">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci porro illo, illum amet aliquid ipsum soluta eum quibusdam nemo corporis facere fugit cumque placeat mollitia quidem quod delectus, suscipit id.</p>
			</div>
		</div>

		<div class="media-object">
			<div class="media-object-section">
				<a href="#">				
					<img class="thumbnail show-for-medium" src="http://placehold.it/100x100">
					<img class="thumbnail hide-for-medium" src="http://placehold.it/80x80">
				</a>
			</div>
			<div class="media-object-section">
				<h3>Freakshow <small>Sendungstitel</small></h3>
				<p>Donnerstag, 18:30</p>
				<p class="show-for-medium">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci porro illo, illum amet aliquid ipsum soluta eum quibusdam nemo corporis facere fugit cumque placeat mollitia quidem quod delectus, suscipit id.</p>
			</div>
		</div>

	</div>
</div>


{% endblock %}
