{% extends 'base.html' %}
{% block navigation %}
{% load i18n hosts %}
{% url live as live_url %}
<li{% if request.path|startswith:live_url %} class="active"{% endif %}>
  <a class="{% block collapsed_live %}{% endblock %}collapsed" href="{{ live_url }}">{% trans "Live" %}</a>
  {% block navi_live %}{% endblock %}
</li>
{% url planned as planned_url %}
<li{% if request.path|startswith:planned_url %} class="active"{% endif %}>
  <a class="{% block collapsed_planned %}{% endblock %}collapsed" href="{{ planned_url }}">{% trans "Planned" %}</a>
  {% block navi_planned %}{% endblock %}
</li>
{% comment %}
{% url latest as latest_url %}
<li{% if request.path|startswith:latest_url %} class="active"{% endif %}>
  <a class="{% block collapsed_latest %}{% endblock %}collapsed" href="{{ latest_url }}">{% trans "Latest" %}</a>
  {% block navi_latest %}{% endblock %}
</li>
{% endcomment %}
{% comment %}{% url statistic as stat_url %}
<li{% if request.path|startswith:stat_url %} class="active"{% endif %}>
  <a  href="{{ stat_url }}">{% trans "Statistics" %}</a>
  {% block navi_stats %}{% endblock %}
</li>{% endcomment %}

{% url shows as show_url %}
<li{% if request.path|startswith:show_url %} class="active"{% endif %}>
  <a class="{% block collapsed_shows %}{% endblock %}collapsed"	href="{{ show_url }}">{% trans "Shows" %}</a>
  <!-- {% block navi_shows %}{% endblock %} -->
</li>

{% if user.is_authenticated %}
{% url dashboard as profile_url %}
<li{% if request.path|startswith:profile_url %} class="active"{% endif %}>
	<a href="{% host_url dashboard on dashboard %}">{% trans "Dashboard" %}</a>
	{% block navi_account %}{% endblock %}
</li>
{% endif %}
{% endblock %}
{% block breadcrumb %}<a href="{% url root %}">{% trans "Start" %}</a>{% endblock %}
